h1{
  text-align: center;
   font-family: 'WartKnifeRegular';
   font-weight: bold;
   font-style: normal;
}
body{
  background: #fcd5ce;
}
ul{
     font-family: 'EchotopiaRegular';
     font-weight: normal;
     font-style: normal;
  }
p{
  color: #144fb5;
}
a:visited {
  color: white;
}